name: Send Notification
on:
  pull_request:
    types: [assigned, opened, reopened]

jobs:
  notification:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Send Notification
        uses: stvenx/feishu-messenger@master
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          MSG_TYPE: text
          USER_MAPS: ${{ secrets.USER_MAPS }}
          ASSIGNEES: ${{ toJson(github.event.pull_request.assignees) }}
          POST_MESSAGE: 'Action Build Success'
